<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Manage User</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>

<!-- model delete-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to take this action?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelAction">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmAction">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="container">

            <form id="frmProduct" name="frmProduct" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" size="30px" required>
                </div>
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="User Name" size="30px" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" name="password" id="password" class="form-control" placeholder="Password" size="30px" required>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" name="phonenumber" id="phonenumber" class="form-control" placeholder="Phone Number" size="30px" required>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="address" id="address" class="form-control" placeholder="Address" size="30px" required>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control">
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Birthday</label>
                    <input type="text" name="birthday" id="birthday" class="form-control" placeholder="Birthday" size="30px" required>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control">
                        <option value="1">Active</option>
                        <option value="0">inActive</option>
                    </select>
                </div>
                <div class="form-group" align="right">
                    <button type="submit" class="btn btn-info" id="save" >Add</button>
                    <button type="button" class="btn btn-warning" id="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="panel-body">
            <table  class="table table-bordered" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                <tr style="text-align: center; background-color: yellow">
                    <th>ID </th>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="lst-product">

                </tbody>
            </table>
            <div class="pagination" style="text-align: center;">
                <button id="prevPageBtn" class="btn btn-primary">Previous</button>
                <span id="currentPage" style="margin: 0 10px;"></span>
                <button id="nextPageBtn" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{~/ajax/users.js}"></script>
</body>

</html>