#login {
    margin: 20px 0px;
    padding: 20px 0;
}

.btn{
    margin: 0 20px;
}

#shoppingCart:hover{
    cursor: pointer;
    color: #fd7e14;
}

#loginPage:hover{
    cursor: pointer;
    color: #fd7e14;
}

.clearAll{
    cursor: pointer;
    color: #fd7e14;
}
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}